{% extends 'base/base.html.twig' %}
{% block title %}<i class="glyphicon glyphicon-alert"></i> {{ cwe.id }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>Rank</th>
                <td>{{ cwe.position }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ cwe.score }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cwe.description }}</td>
            </tr>
            <tr>
                <th>Definition</th>
                <td>
                    {% set cweLink = 'http://cwe.mitre.org/data/definitions/' ~ (cwe.id|replace({'CWE-': ''})) ~ '.html'%}
                    <a href="{{ cweLink }}">
                        {{ cweLink }}
                    </a>
                </td>
            </tr>
        </table>
        <h2>PHP Sample</h2>
        {% block subcontent %}{% endblock %}
    </div>
</div>
{% endblock %}